header, section, footer, aside, nav,figure, figcaption {
	display: block;
}

body {
	color:#666666;
	background-color: #efefef;
	background-image: '#';
	background-position: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 80%
	letter-spacing:0.2em;
	line-height: 1.4em;
	margin: 20px;
}

header {
	font-family: 'Playfair Display', serif;
}

.wrapper {
	width: 940px;
	margin: 20px auto 20px auto;
	border: 2px solid #000000;
	background-color: #ffffff;
}
