header, section, footer, aside, nav{
	display: block;
}

body {
	color: black;
	background-position: center;
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 80%
	letter-spacing:0.2em;
	line-height: 1.4em;
	margin: 0px auto;
	text-align: center;
}

.wrapper {
	background-color: white;
}


header {
	font-family: 'Playfair Display', serif;
	font-style: bold;
	text-decoration: underline;	
	min-width: 600px; 
}

#title {
	margin: 20px;
}

h1 {
	text-align: center;
	margin: 10px;
}

#main-nav {
	min-width: 600px; 
	height: 50px;
  	display: block;
	text-align: center; 
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin: 0px;
}

.bottom {
	text-align: center;
	min-width: 600px; 
	margin: 10px;
}

li {
	display: inline;
}

footer {
	clear:both;
	color: #ffffff;
	height: 30px;
}

p {
	text-align: center;
	width: 600px
	margin: 20px auto 20px auto;
	font-weight: normal;
}

a{
	color: black;
	text-transform: uppercase;
	text-decoration: none;
	padding: 6px 10px 5px 10px;
}

a:hover, a.on{
	text-decoration: underline;
}

a:link {
	color:black;
	text-decoration: none;
}

a:visited {
	color:grey;
}


#home{
	width: auto;
	min-width: 600px; 
	height: 720px;
	background-image: url("/Users/andrewchung/Desktop/web-projects/test-site/imgs/Stock-photo programming.jpeg");
	background-size: auto;
	border-bottom: 2px solid black;
	margin: 10px 10px 10px 0px;
	-webkit-box-shadow: 0px 0px 5px 0px;
}

#portfolio {
	margin: 10px 10px 10px 0px;
	background-color: white;
	-webkit-box-shadow: 0px 0px 5px 0px;
	min-width: 600px; 
	overflow: hidden;
}

#about-me {
	min-width: 600px; 	
	display: flex;
	justify-content: center;

}

#about-me-section {
	width: 32%;
	height: 420px;
	margin: 10px 10px 10px 0px;
	-webkit-box-shadow: 0px 0px 5px 0px;
	background-color: white;
	clear:left;
	overflow: hidden;
}

#about-me-section2 {
	width: 32%;
	height: 420px;
	margin: 10px 10px 10px 0px;
	-webkit-box-shadow: 0px 0px 5px 0px;
	background-color: white;
	overflow: hidden;
}
#about-me-section3 {
	width: 32%;
	height: 420px;
	float:right;
	margin: 10px 0px 10px 0px;
	-webkit-box-shadow: 0px 0px 5px 0px;	
	background-color: white;
	overflow: hidden;
}

#contact {
	width:60%;
	min-width: 600px; 
	background-color: white;
	margin: 10px auto;
	text-align: left;
	border: 1px solid;
	-webkit-box-shadow: 0px 0px 5px 0px;
	clear:left;
}

#main {
	margin: 10px;
}

form {
	margin: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
	text-align: center;
}